$primary-color: #0c2c56;
$secondary-color: #c4ced4;
$additional-color: #005c5c;
$accent-color: #d50032;

$primary-color-hover: #0b284f;
$additional-color-hover: #004b4b;
$accent-color-hover: #b9002b;

$additional-color-dark: #009696;